<nav class="navbar navbar-expand-md navbar-light fixed-top bg-info">
        <a class="navbar-brand" id="brand1" href="/user/home">BRAND NAME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-bottom" id="navbarCollapse">
          <ul class="nav nav-pills ">
            <li class="nav-item">
              <a class="nav-link " id="home1" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
      <li class="nav-item">
              <a class="nav-link" href="/user/aboutus">About Us</a>
            </li>
      <li class="nav-item">
              <a class="nav-link" href="/user/general">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/registration">Registration</a>
            </li>
      <li class="nav-item">
              <a class="nav-link" href="/user/result">Result</a>
            </li>
      
       <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <strong> Courses</strong>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  
  <!--ggfvhgffjhhj-->
  <li class="nav-item">
  <div class="btn-group">
 <a class="btn btn-danger" href="contactus.html" role="button">Office/Centers</a>
  <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a class="dropdown-item" href="/user/contactus" role="button">Head Office</a>
  
    <div class="dropdown-divider"></div>
    <button class="dropdown-item" type="button">Bangalore</button>
    <button class="dropdown-item" type="button">Pune</button>
   <button class="dropdown-item" type="button">Mysuru</button>
    <button class="dropdown-item" type="button">Mumbai</button>
  </div>
</div>
</li>
<li class="nav-item">
              <a class="nav-link" href="/user/contactus"><strong>Contact Us</strong></a>
            </li>

<li class="nav-item">
<button type="button" class="btn btn-sm  btn-outline-white"><strong>Mobile: </strong>8738322343 , 7673287623 <br> <strong>Email: </strong>nbdsjdsame.ghgf@gmail.com    </button>                              
</li>
          </ul>
         
        </div>
      </nav>