  
 <link href="/stylesheets/carousel.css" rel="stylesheet">

 

     <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--
<script>
window.onload = function() {
     document.getElementById('home1').click();
};
 </script>
-->

  <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/prism.css" rel="stylesheet" />
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />

  <main role="main">
         
  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
 
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
     
        <div class="carousel-inner">
             {{# each coverers }}
           <div class="carousel-item {{this.activeOrNot}}">
            <img class="first-slide" src="../{{this.coverphoto}}" alt="First slide"  data-src="holder.js/500x500/auto">
            <div class="container">
              <div class="carousel-caption ">
                <h1>{{this.covertext}}</h1>
              </div>     
            </div>
          </div>
               {{/each}} 
        </div>
               

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
 

      <!-- Marketing messaging and featurettes
      ================================================== -->
<div class="green">
    <div class="container">
      <div class="row">
        <div class="col-md-7 centered">
          <div id="nt-example1-container">
            <h1>News And Event</h1>

            <i class="fa fa-arrow-up" id="nt-example1-prev"></i>
           
                    <ul id="nt-example1">
                       {{# each coverers }}
                        <li>{{this.covertext}}</li>
                        {{/each}}
                    </ul>
                    
                    <i class="fa fa-arrow-down" id="nt-example1-next"></i>
                </div>
        </div>
        
        
      <!-- /.col-lg-4 -->
          <div class="col-md-5 centered">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            
                <h2>MESSAGE BY M.D.</h2>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        
        
      </div>
    </div>
  </div>

      <!-- Wrap the rest of the page in another container to center all the content. -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </main>

       <!-- News Ticker JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javaScripts/chart.js"></script>
    <script src="/javaScripts/prism.js"></script>
    <script src="/javaScripts/jquery.mCustomScrollbar.min.js"></script>



  <script src="/javaScripts/jquery.newsTicker.js"></script>

  <script>      
       var nt_example1 = $('#nt-example1').newsTicker({
                row_height: 80,
                max_rows: 3,
                duration: 4000,
                prevButton: $('#nt-example1-prev'),
                nextButton: $('#nt-example1-next')
            });
      
      
  </script>
  

<script src="https://use.fontawesome.com/077166cc8f.js"></script>
