  
  <link rel="stylesheet" href="/stylesheets/registration.css" >
  <div class="container">  
  <form action="/user/registration" method="post">
   <div class="form-group border border-info rounded-top clearfix">
     <h2>Registration form</h2>
<hr class="featurette-divider">
  <label for="branch">Branch:</label>
  <select class="form-control" id="branch" name="branch">
    <option selected disabled>Select Branch</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <label for="course">Course:</label>
  <select class="form-control" id="course" name="course">
    <option selected disabled>Select Course</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <label for="training">Training:</label>
  <select class="form-control" id="training" name="training">
    <option selected disabled>Select Training</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
      <label for="fullname">Full Name:</label>
      <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Full Name">
   
   
      <label for="qualification">Qualification:</label>
      <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Enter Qualification">
   
      <label for="dob">DOB:</label>
      <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter DOB">
    
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">

      <label for="address">Address:</label>
      <textarea type="text" class="form-control" id="address" name="address" placeholder="Enter Address"></textarea>
      <label for="contact">Contact Number:</label>
      <input type="number" class="form-control" id="contact" name="contact" placeholder="Enter Contact Number">
	  <br>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
	    </div>
  </form>
          <hr class="featurette-divider">

    


</div>