
  <link rel="stylesheet" href="/stylesheets/registration.css" >
  
  <div class="container">  
<form>

   <div class="form-group border border-info rounded-top clearfix">
     <h2>Examination Result</h2>
<hr class="featurette-divider">
  <label for="course">
Please Select Your Course :</label>
  <select class="form-control" id="course">
    <option selected disabled>Select Course Category</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <br>
  <label for="year">Please Select Year(Session):</label>
  <select class="form-control" id="year">
    <option selected disabled>Please Select Year(Session)</option>
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
  </select>
<br>
  <label for="rollnumber">Roll Number:</label>
      <input type="number" class="form-control" id="rollnumber" name="rollnumber" placeholder="Enter Roll Number">
      <br>
   <label for="dob">DOB:</label>
      <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter DOB">
  <br>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
  </form>
          <hr class="featurette-divider">
          </div>